.img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.div {
    background: wheat;
    padding: 0 10rem 0 10rem;
    overflow-y: hidden; 
    display: flex;
    justify-content: center;

}
/* For smaller devices, adjust column and image sizes */
@media (max-width: 600px) {
    .div {
        padding: 1rem;
        padding-top: 5rem;
    }
}